<%- include('../partials/header') %>
    <h1>This is the user Dashboard</h1>

    <form action="/users/logout">
        <button type="submit">Logout</button>
    </form>
<%- include('../partials/footer') %>