<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Go to <a href="/questions/board">Discussion Board</a> or <a href="/login" >Login</a>  to <%= title %></p>
  </body>
</html>
